<%= form_for @product do |f| %>

  <% if @product.errors.any? %>
    <div class="error explanation">
      <p><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved.</p>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price_in_cents %>
    <%= f.number_field :price_in_cents %>
  </div>
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
