<p>Reviews for <%= @product.name %></p>

<% @product.reviews.each do |review| %>
  <ul>
    <li>
      <%= review.comment %>
      <br>
      <% if review.user != nil %>
        <em> By <%= review.user.email %></em>
        Added on: <%= review.created_at %><br>
        <% if current_user == review.user %>
          <%= link_to "Edit review", edit_product_review_path(@product, review) %>
        <% else %>
          <%= link_to "Log in", login_path %> to edit
        <% end %>
      <% end %>
    </li>
  </ul>
<% end %>
